@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'variables';

body {
  background-color: $favColor;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', 'Impact', 'Helvetica', sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

html,body { height:100%; }