.auth-item {
  cursor: pointer;
  color: white;
}

.auth-item:hover {
  color: lightgreen;
}

.crest {
  height: 70px;
  margin: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar {
  padding: 0rem 1rem !important;
  height: 72px !important;
}